.pelicula{
    border:1px solid rgb(129, 103, 103);
    padding: 1rem;
    margin:10px;
    display: inline-block;
    border-radius: 10px;
}
.pelicula img, .pelicula-card img{
    width:170px;
    height: 250px;
    border-radius: 5%;
}

.btnComprar{
    background-color: rgb(219, 216, 30);
    padding: 8px;
}

.activa{
    border:2px solid yellow;
    box-shadow: 0px 4px 4px 4px #aaa;
}

.pelicula-card{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


